<!DOCTYPE html>
<html>
<head>
    <title>HDI Prediction</title>
</head>
<body>

<h1>Human Development Index (HDI) Prediction</h1>

<form action="/predict" method="POST">

    <label>HDI Rank (2021):</label><br>
    <input type="text" name="feature1" required><br><br>

    <label>Human Development Index (2018):</label><br>
    <input type="text" name="feature2" required><br><br>

    <label>Human Development Index (2019):</label><br>
    <input type="text" name="feature3" required><br><br>

    <label>Human Development Index (2020):</label><br>
    <input type="text" name="feature4" required><br><br>

    <input type="submit" value="Predict HDI">

</form>

</body>
</html>